[Desktop Entry]
Type=Application
Name=Ark Breeding Tool
Exec=arkbreedingtool
Icon=arkbreedingtool
StartupWMClass=arkbreedingtool
Terminal=false
Categories=Game;Utility;
