[Desktop Entry]
Type=Application
Name=Ark Breeding Tool
Exec=arkbreeder
Icon=arkbreeder
StartupWMClass=arkbreeder
Terminal=false
Categories=Game;Utility;
