[Desktop Entry]
Type=Application
Name=Arc-Breading-Tool
Exec=arkbreedingtool
Icon=arkbreedingtool
StartupWMClass=arkbreedingtool
Terminal=false
Categories=Game;Utility;
